.container {
    width: 100% !important;
    padding: 0px;
}

.dashboard {
    display: flex;
}

.sidenav {
    background: #000c1f;
    min-height: calc(100vh - 56px);
    width: 17%;
    overflow: auto;
}

.accordions {
    color: rgb(240, 240, 240);
}

.accordion_item {
    background: #000c1f !important;
}

.accordion_item .accordion_header button {
    background: #000c1f;
    color:rgb(240, 240, 240);
}

.accordion_item .accordion_header button::after {
    color: rgb(240, 240, 240) !important;
    /* background: rgb(240, 240, 240); */
}

.accordion_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
    list-style: circle;
}

.accordion_body a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 14px;
}


.data {
    width: 83%;
}