.airline_list {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 30px;
    /* padding-bottom: 30px; */
}

.airline_table {
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.logo_container {
    width: 100%;
    height: 200px;
    /* background: blue; */
    overflow: hidden;
    padding: 0px 10px;
}

.logo_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_actions {
    display: flex;
    gap: 10px;
}

.modal_img {
    width: 350px;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 30px;
}

.modal_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}